<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ebinsu-core-framework</id>
            <username>cnb</username>
            <password>${env.CNB_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ebinsu-core-framework-profile</id>
            <repositories>
                <repository>
                    <!-- 须与 server 的 id 一致 -->
                    <id>ebinsu-core-framework</id>
                    <url>https://maven.cnb.cool/ebinsu/core-framework/-/packages/</url>
                </repository>
            </repositories>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
    </profiles>
</settings>